@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

body{
  font-family: 'Cabin', sans-serif;
  background-color: var(--primary-black);
  overflow: hidden;
}

:root{
  --primary-red1: #FF4301;
  --secondary-red2:#FF4301;
  --primary-black: #020202;
  --primary-white: #DCDCDC;
  --primary-green: #95FF00;
  --primary-blue: #1E77EF;
}

.home--main{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

.home--header{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
    flex-direction: column;
    height: 100%;
    transform-style: preserve-3d ;
    z-index: -1;
}

.home--header--img1{
transform: translateZ(-5px) scale(1.5);
}
.home--header--img2{
transform: translateZ(-10px) scale(2);
}

.home--header--img1,
.home--header--img2{
  position: absolute;
  z-index: -1;
}

@keyframes my-icons {
  0% { left:0}
  100% { left:-100%}
}

.animate{
  width: 200%;
  animation: my-icons 20s linear infinite;
  top:50%;
  transform: translate(0,-50%);
}
.animate:hover{
  animation-play-state: paused;
  cursor: pointer;
}